html {
  color: moccasin;
  background-color: #2b2b2b;
}

.calendar-table,
.calendar,
.calendar-header,
tr {
  padding: 0;
  margin: 0;
}

th,
td {
  padding: 20px;
}
.calendar-table {
  background-color: #2b2b2b;
  font-family: "Open Sans", sans-serif;
  position: relative;
  margin: 50px auto;
  width: 80%;
}

.calendar {
  background-color: #2b2b2b;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

.calendar-header {
  font-size: 1.6em;
}

.calendar-header td {
  border-spacing: 0;
  padding-left: 5px;
}

.day-current,
.day,
.day-empty,
.week-day {
  text-align: center;
  height: 40px;
}

.day-empty {
  background-color: #2b2b2b;
}

.week-day {
  font-size: 1.2em;
  font-weight: bold;
}

.day-current,
.day {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  line-height: 24px;
}

.day {
  background-color: #a0a0a0;
  color: black;
}

.day:hover {
  background-color: #858585;
}

.day-event {
  background: rgba(119, 119, 214, 0.726);
}

.day-event:hover {
  background: rgba(119, 119, 214, 0.459);
}

.day-current {
  background-color: rgba(63, 63, 153, 0.514);
  color: rgb(201, 201, 201);
}

.label-month,
.label-year {
  font-size: 0.6em;
}

.label-month {
  cursor: pointer;
}

.month-label {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.right-icon {
  float: right;
}

.arrow {
  color: #ff9900;
  cursor: pointer;
}

.event-edit,
.events-day {
  font-family: "Open Sans", sans-serif;
  position: relative;
  margin: 50px auto;
  width: 80%;
}

.event-edit {
  width: 60%;
}

.events-header {
  font-size: 1.5em;
  padding: 5px;
  text-align: left;
}

.day-header {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.buttons {
  text-align: center;
  padding: 15px;
}

.button-blue,
.button-green,
.button-red {
  transition-duration: 0.4s;
  background-color: white;
  padding: 15px 32px;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

.button-blue {
  background-color: #3a5cab;
  color: white;
  border: 2px solid #3a5cab;
}

.button-blue:hover {
  border: 2px solid #3a5cab;
  background-color: white;
  color: #3a5cab;
}

.button-red {
  background-color: #ab3a3a;
  border: 2px solid #ab3a3a;
  color: white;
}

.button-red:hover {
  border: 2px solid #ab3a3a;
  background-color: white;
  color: #ab3a3a;
}

.button-green {
  background-color: #62ab3a;
  border: 2px solid #62ab3a;
  color: white;
}

.button-green:hover {
  border: 2px solid #62ab3a;
  background-color: white;
  color: #62ab3a;
}
input[type="time"],
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-label {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
}
